*.ipynb_checkpoints/
.vscode/
dataset/.ipynb_checkpoints/
dataset/bertvocab/v1/
dataset/bertvocab/v3/
dataset/bertvocab/*.txt
dataset/Cholec80-VQA
dataset/faimed3d
dataset/EndoVis-18-VQA
dataset/VQA-Med
dataset/*.ipynb


venv/
checkpoints/
img_cap/
results.yml
my-model/
*pyc
deprecated/
extended_work/
experiment_results/